# Classify R Markdown files as R code for GitHub language statistics
# https://github.com/github/linguist#overrides
*.[Rr]md linguist-language=R
docs/* linguist-documentation
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.tex linguist-detectable=false
